
.home_Wrapper
  clearfix()
  padding: 0
  margin: 0
  width: 100vw

//Splash
.home_Wrapper
  .splash_Container
    .logo
      left: 50%;
      transform: translate(-50%, 90%);
      z-index: 10
      position: absolute
    .bgImage
      //Image
      img
        transition: filter 1s ease-in-out;
        // filter: sepia(0.2) blur(4px)
        width: 100vw
        height: 100vh
      .shrunk
        transition: filter 1s ease-in-out;
        // filter: sepia(0.2) blur(2px) grayscale(1)


hexagon('.mainLogo', 500px, transparent, $sc, 10px)
.splash_Container
  .logo_Container
    center(900px)
    align(center)
    .mainLogo
      margin-left: -255px
      top: 300px
    .mainLogoTitle
      position: absolute
      margin-left: -125px
      top:450px 
    .mainLogoTag
      position: absolute
      margin-left: -200px
      top:520px 