- var links = {home: './index.html', services: './services.html', gallery: './gallery.html', prices: './prices.html', contacts: './contacts.html' };

.nav_Wrapper
  .headerLogo
    svg.headerLogoTitle(width='620', height='100')
      text(
        x='100', 
        y='60', 
        fill='#ED6E46', 
        font-size='60',
        textLength='100',
        font-family="'Leckerli One', cursive") Eden
    svg.headerLogoTag(width='620', height='100')
      text(
        x='103', 
        y='80', 
        fill='#ED6E46', 
        font-size='20',
        textLength='180',
        font-family="'Osefin Slab', serif'") Landscape Design


  nav
    ul
      li
        a(href=links.home) Home
      li
        a(href=links.services) Services
      li 
        a(href=links.gallery) Gallery
      li
        a(href=links.prices) Prices
      li
        a(href=links.contacts) Contacts