
// edit()


.nav_Wrapper
  clearfix()
  nav
    transition: all 0.8s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0px
    z-index: 1000;
    height: 250px;
    overflow: hidden;
    text-align:center;
    line-height: 220px;
    &:after, &:before
      transition: all 0.8s ease-in-out;
      background: none repeat scroll 0 0 alpha($navColor, 0.7);
      content: "";
      height: 150px;
      left: 0;
      position: fixed;
      top: 0;
      transform: skew(0deg, 8deg);
      width: 50%;
    &:after
      transition: all 0.8s ease-in-out;
      left: auto;
      right: 0px;
      transform: skew(0deg, -8deg);
      width: calc(50%);
    ul
      clearfix()
      center(900px)
      list-style-type: none
    li
      column('1/5')
      text-align: center

// edit()
//Header Logo
.nav_Wrapper
  z-index: 2000
  .headerLogo
    transition: opacity 0.8s ease-in-out;
    opacity: 0
    height: 400px
    z-index: 2000
    position: fixed
    .headerLogoTitle
      position: absolute
    .headerLogoTag
      position: absolute
.shrunk
  .headerLogo
    transition: opacity 0.8s ease-in-out;
    opacity: 1
  // .shrunk, .headerLogo
  //   display: block
  //   transform: scale(.3)


//Link Styles
.nav_Wrapper
  nav
    a
      z-index: 1000
      color: $sc
      font-family: $slab
      text-transform: uppercase;
      display: inline-block;
      position: relative;
      letter-spacing: 1px;
      text-shadow: 0 0 1px rgba(255,255,255,0.3);
      font-size: 30px;
      font-weight:normal;
      text-decoration: none
      transition: all 0.8s;
      &:before, &:after 
        position: absolute;
        top: 60%;
        left: -10%;
        width: 120%;
        height: 3px;
        background: $accent;
        content: '';
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
        -webkit-transform: scale(0.85);
        -moz-transform: scale(0.85);
        transform: scale(0.85);
      &:after
        opacity: 0;
        transition: top 0.3s, opacity 0.3s, transform 0.3s;
      &:hover:before, &:hover:after, &:focus:before, &:focus:after
        transform: scale(1);
      &:hover:after, &:focus:after
        top: 35%;
        opacity: 1;

//Shrunk
.shrunk
  nav
    transition: all 0.3s ease-in-out;
    line-height: 100px;
    &:after, &:before
      height: 100px
      background: none repeat scroll 0 0 alpha(ag[1], 0.85);
      transition: all 0.8s ease-in-out;
      transform: skew(0deg, 0deg);
    &:after
      height: 100px
      transition: all 0.8s ease-in-out;
      transform: skew(0deg, 0deg);
    a
      transition: all 0.8s;
      font-size: 20px


