//FrameWork
// @import 'framework/_pure.css'

//Plugins
ks-no-conflict = true
@import "kouto-swiss"
@import 'rupture';
@import 'lost';
@import 'typographic';

//Base
@import '_base/*'
//Generated
@import '_generated/*'

//Resets
meyer-reset()
box-sizing-reset()
normalize()
//lost - reset recomendation
@import '_reset/reset.css';

//Type init
typographic()

//Component Styles
@import '_components/*'

//Page Styles
@import '_pages/*'

//Helper Overlays
// edit()
// grid-overlay(blue, 2)

.gulp
  filter: blur(5px);
  background: rebeccapurple
  size: 400px