head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  //Title
  block title
    title Default Title
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  //Favicon
  // Place favicon.ico in the root directory
  //link(rel='icon', type= 'image/ico', href='favicon.ico')
  
  //Global CSS
  <!-- global:css -->
  <!-- endinject -->
  //Fonts
  link(link href='http://fonts.googleapis.com/css?family=Josefin+Slab:700' rel='stylesheet' type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Leckerli+One' rel='stylesheet' type='text/css')

  //Page specific styles
  block css
  //Modernizer
  script(type="application/javascript", src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
  //Conditionals
  <!--[if lt IE 9]>
  script(type="application/javascript", src='js/vendor/selectivizr-1.0.3b.min.js')
  script(type="application/javascript", src='js/vendor/respond-1.4.2.min.js')
  script(type="application/javascript", src='js/vendor/calc.min.js')
  <![endif]-->