$sc = #e7e6d4
$pc = #2C3E50
$gray = #7F8C8D
$accent = #ED6E46
//Component Color
$navColor = ks-analogous($gray)[1]

$seed_color = $pc
//Analogous
ag = ks-analogous($seed_color)
.ag_0
  background: $seed_color
  color: $seed_color
.ag_1
  background: ag[0]
  color: ag[0]
.ag_2
  background: ag[1]
  color: ag[1] 

//extended-analogous
age = ks-extended-analogous($seed_color)
  .age_0
    background: $seed_color
    color: $seed_color
  .age_1
    background: age[1]
    color: age[1]
  .age_2
    background: age[2]
    color: age[2]
  .age_3
    background: age[3]
    color: age[3]
//Monochrome
mc = ks-monochrome($seed_color)
.mc_0
  background: $seed_color
  color: $seed_color
.mc_1
  background: mc[0]
  color: mc[0]
.mc_2
  background: mc[1]
  color: mc[1]
  
//split-complements
sc = ks-split-complements($seed_color)
.sc_0
  background: $seed_color
  color: $seed_color
.sc_1
  background: sc[0]
  color: sc[0]
.sc_2
  background: sc[1]
  color: sc[1]

//triad
ti = ks-triad($seed_color)
.ti_0
  background: $seed_color
  color: $seed_color
.ti_1
  background: ti[0]
  color: ti[0]
.ti_2
  background: ti[1]
  color: ti[1]

//quad
qd = ks-quad($seed_color)
.qd_0
  background: $seed_color
  color: $seed_color
.qd_1
  background: qd[0]
  color: qd[0]
.qd_2
  background: qd[1]
  color: qd[1]
.qd_3
  background: qd[2]
  color: qd[2]
.qd_4
  background: qd[3]
  color: qd[3]