hexagon($class, $size = 300px, $background = '', $borderColor = '', $borderWidth = 0, $shadow = 0)
  $scaleFactor = math(0.523598776, 'tan');
  $width = unit($size, 'px');
  $height = unit($width /  math(3, 'sqrt'), 'px');
  $widthHeight = unit($width / math(2, 'sqrt'), 'px')
  $scaledBorderWidth = unit($borderWidth * math(2, 'sqrt'), 'px')
  $sideLength = $size / math(3, 'sqrt')
  $left = unit($sideLength / 4 - $borderWidth + 1, 'px')
  
  {$class}
    position: absolute;
    width: $width; 
    height: $height;
    background-color: $background;
    margin: unit($height / 2, 'px') 0;
    box-shadow: $shadow;
    border-left: solid $borderWidth $borderColor;
    border-right: solid $borderWidth $borderColor;
    &:before, &:after
      content: "";
      position: absolute;
      z-index: 1;
      width: $widthHeight;
      height: $widthHeight;
      -webkit-transform: scaleY(0.5774) rotate(-45deg);
      -ms-transform: scaleY(0.5774) rotate(-45deg);
      transform: scaleY(0.5774) rotate(-45deg);
      background-color: inherit;
      left: $left;
      box-shadow: $shadow;
    &:before
      top: unit((($size * -1) / math(2, 'sqrt') / 2), 'px');
      border-top: solid $scaledBorderWidth $borderColor;
      border-right: solid $scaledBorderWidth $borderColor;
    &:after
      bottom: unit((($size * -1) / math(2, 'sqrt') / 2), 'px');
      border-bottom: solid $scaledBorderWidth $borderColor;
      border-left: solid $scaledBorderWidth $borderColor;

  //cover up extra shadows
  if $shadow != ''
    {$class} span 
        display: block;
        position: absolute;
        top: unit($borderWidth * $scaleFactor, 'px');
        left: 0;
        width: unit($width - $borderWidth * 2, 'px');
        height: unit($height - $borderWidth * $scaleFactor * 2, 'px');
        z-index: 2;
        background: inherit;
