extends _layouts/mainLayout.jade

block title
  title Home

block content
  .home_Wrapper
    .splash_Container
      .logo_Container
        svg.mainLogoTitle(width='250', height='120')
          text(
            x='0', 
            y='100', 
            fill='#ED6E46', 
            font-size='120',
            textLength='230',
            font-family="'Leckerli One', cursive") Eden
        svg.mainLogoTag(width='400', height='100')
          text(
            x='0', 
            y='80', 
            fill='#ED6E46', 
            font-size='40',
            textLength='400',
            font-family="'Osefin Slab', serif'") Landscape Design
        .mainLogo
          span
      .bgImage
        img(src="assets/images/home/splash.jpg", alt="")
    section
      h1 Making Magic Today. Center
      .icon.-facebook
    section
      img(src="assets/images/gulp.png", alt="", class="gulp")


//- block script
//-   script(type="application/javascript", src="assets/js/app.js")